---
---
@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css/minireset.min.css');

@mixin desktop {
  @media (min-width: 640px) {
    @content;
  }
}

$anchor: #8ab4f8;
$foreground: #fafafa;
$background: #18181b;
$black: #09090b;
$vertical_padding: 2.5vw;
$horizontal_padding: 4vw;
$mono: ui-monospace, SFMono-Regular, 'SF Mono', 'IBM Plex Mono', Menlo, Consolas, 'Liberation Mono', monospace;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, 'Inter var', Inter, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  color: $foreground;
  background-color: $background;
  line-height: 1.5;
  word-break: keep-all;
  font-size: 1rem;

  margin: {
    top: $vertical_padding;
    bottom: $vertical_padding;
  }

  > * {
    margin: {
      left: $horizontal_padding;
      right: $horizontal_padding;
    }
  }
}

code {
  font-family: $mono;
  font-size: .875rem;
  background-color: #{$foreground}1f;
  padding: .125rem .25rem;
}

h2, p, table, dl, footer {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

#in {
  h1 + p {
    margin: {
      top: 0; bottom: 1em;
    }
  }
  p:last-child {
    margin-bottom: 1em;
  }
}

a {
  color: $anchor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font: {
    size: 3rem;
    weight: 800;
  }
}

dl {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem 2rem;
  @media (min-width: 640px) {
    grid-template-columns: minmax(1px, auto) 1fr;
  }
}

dt {
  font-weight: 700;
}

#url {
  width: 100%;
  padding: .75rem 1rem;
  border: none;
  background-color: $black;
  color: $foreground;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

button {
  font-size: 1rem;
  background-color: $foreground;
  color: $black;
  padding: .25rem .375rem;
  border: .25rem solid transparent;

  &:focus {
    outline: none;
    border-color: $anchor;
  }

  &:hover {
    background-color: #{$foreground}df;
  }

  &:active {
    background-color: $black;
    color: $foreground;
  }
}

#list {
  display: flex;
  align-items: flex-start;

  #left {
    display: none;
    width: 40%;
    flex-direction: column;
    position: sticky;
    top: $vertical_padding;
    gap: 1rem;

    #char {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      cursor: default;
      background-color: $black;
      color: $foreground;
      aspect-ratio: 1;
      overflow: hidden;
  
      span:first-child {
        font: {
          size: 24vw;
          family: 'thefont', sans-serif;
        }
      }
  
      span:nth-child(2), span:last-child {
        position: absolute;
        bottom: .75vw;
        margin-bottom: -.25em;
        color: #{$foreground}3f;
        font: {
          family: $mono;
          weight: 500;
          size: 1vw;
        }
      }
  
      span:nth-child(2) {
        left: .75vw;
      }
  
      span:last-child {
        right: .75vw;
      }
    }
  }

  main {
    width: 60%;

    > * {
      margin-left: 2vw;
    }

    > h2 {
      display: inline-block;
      position: sticky;
      top: $vertical_padding;
      background-color: #{$background}7f;
      backdrop-filter: blur(.5rem);
      font-weight: 700;
      font-size: 1.5rem;

      padding: {
        left: .375em;
        right: .375em;
      }
      margin: {
        left: calc(2vw - .375em);
        right: calc(2vw - .375em);
      }
    }

    #t {
      width: 100%;
      table-layout: fixed;
      cursor: default;

      th {
        color: #{$foreground}3f;

        font: {
          family: $mono;
          size: .875vw;
          weight: 500;
        }
      }

      td {
        text-align: center;
        font-size: 1.75vw;
        padding: .25vw 0;

        &.c {
          cursor: pointer;
          font-family: 'thefont', sans-serif;
          background-color: $black;

          &.selected {
            background-color: $foreground;
            color: $black;

            &:hover {
              background-color: #{$foreground}df;
            }

            &:active {
              background-color: $black;
              color: $foreground;
            }
          }

          &:hover {
            background-color: #{$foreground}1f;
          }

          &:active {
            background-color: $black;
          }
        }
      }
    }
  }
}